@import "reset";
@import "config";
@import "font-face";
@import "navigation";
@import "footer";

body {
  font-family: "MaisonNeue-Medium";
}

main {
  height: 517px;
  margin-top: 58px;
  color: #fff;

  &.overlay {
    height: 517px;
    background-image: url("../img/bmb_mobile_kv1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .pattern {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05) url("../img/index.png");
    max-width: 100%;

    .text-container {
      padding-top: 98px;
      margin: 0 auto;
      width: 240px;

      h1 {
        width: 235px;
        font-size: 29px;
        font-weight: 700;
        letter-spacing: -1.11px;
        line-height: 33.79px;
      }

      &__paragraph {
        width: 239px;
        height: 42px;
        margin-top: 34px;
        @include flex-col-between;
        font-family: "MaisonNeue-LightItalic";
        font-weight: 400;
        font-size: 15px;
      }

      .btn {
        margin-top: 33px;
        width: 176px;
        height: 45px;
        border-radius: 20px;
        background: transparent;
        color: #ffffff;
        border: 2px solid #fafafa;
        text-transform: uppercase;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          background: #ffffff;
          color: #000000;
        }
      
        span {
          font-size: 11px;
          font-weight: 700;
        }
      }

      .scroll-arrow {
        display: none;
      }
    }
  }
}

.first-text-section {
  height: 547px;

  .text-container {
    padding: 111px 0 49px 48px;

    h2 {
      width: 213px;
      margin-bottom: 40px;
      margin-right: 59px;
      font-size: 40px;
      font-weight: 700;
      line-height: 44.14px;
      letter-spacing: -2px;
    }

    p {
      margin-right: 35px;
      font-size: 15px;
      font-weight: 400;
      line-height: 26.73px;
      color: $primary-color;
      font-family: "MaisonNeue-LightItalic";
    }
  }
}

.poster-section {
  height: 972px;
  color: #ffffff;
  text-transform: uppercase;

  &-box {
    height: 322px;

    &.one {
      background: url("../img/THUMBNAIL_MYFUTURESELF1.png") no-repeat
        center/cover;
    }

    &.two {
      background: url("../img/bmbwebsite_rubicon_thumnail1.png") no-repeat
        center/cover;
    }

    &.three {
      background: url("../img/Photo_elephant.png") no-repeat center/cover;
    }
    &.four.desktop-show {
      display: none;
    }
    &.five.desktop-show {
      display: none;
    }

    img {
      display: none;
    }

    h3 {
      padding: 252px 0 0 30px;
      font-size: 17px;
      font-weight: 500;
    }

    h4 {
      padding: 6px 0 0 30px;
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.second-text-section {
  height: 745px;
  width: 100%;
  color: $primary-color;

  .button {
    @include flex;
    
    .top-btn {
      width: 178px;
      height: 45px;
      margin-top: 22px;
      border-radius: 21px;
      border: 2px solid $secondary-color;
      background: transparent;
      cursor: pointer;

      &:hover span{
        color: #000;
        border-bottom: 1.5px solid green;
       }

      span {
        width: 94px;
        height: 9px;
        color: $secondary-color;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 33.94px;
        transition:0.2s;
      }
    }
  }

  .top-text {
    position: relative;
    width: 162px;
    margin: 90px auto 54px;
    font-size: 13px;
    text-transform: uppercase;
    color: #9d9d9d;
    letter-spacing: .6px;

    &::after {
      content: "";
      position: absolute;
      top: 6px;
      right: 183px;
      width: 21px;
      border-bottom: 1px solid $secondary-color;
    }
  }

  .slider-box {
    position: relative;
    width: 244px;
    height: 368px;
    margin: 0 auto;
    background-image: url(../img/bmb_semicolon.png);
    background-repeat: no-repeat;
    background-size: 185px 144px;
    display: none;

    &.show {
      display: block !important;
    }

    img {
      margin-top: 124px;
      margin-left: 12px;
    }

    .slider-box__name {
      position: absolute;
      top: 112px;
      left: 116px;
      font-size: 20px;
      font-weight: 700;
      color: #000000;
    }

    .slider-box__members {
      position: absolute;
      top: 144px;
      left: 116px;
      font-size: 12px;
      font-weight: 700;
      line-height: 26.12px;
      text-transform: uppercase;
      color: #9fa3a7;
      letter-spacing: 0.8px;
    }

    .slider-box__p1 {
      position: absolute;
      top: 235px;
      font-size: 15px;
      font-weight: 400;
      line-height: 28.08px;
      font-family: "MaisonNeue-Light";
      color: #000000;
    }
  }

  .dots {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .dots__element {
      display: inline-block;
      width: 13px;
      height: 13px;
      border: 2px solid $secondary-color;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: $secondary-color;
      }
    }
    :nth-child(2) {
      margin: 0 9px;
    }
  }

  .arrow-desktop-left,
  .arrow-desktop-right
   {
    display: none;
   }
}
// LOGO SECTION
.logos-section {
  height: 478px;
  color: #9d9d9d;
  background-color: #000000;

  .top-text1 {
    position: relative;
    padding-top: 110px;
    padding-left: 75px;
    font-size: 13px;
    text-transform: uppercase;
    width: 205px;

    &::after {
      content: "";
      position: absolute;
      top: 118px;
      right: 147px;
      width: 21px;
      border-bottom: 1px solid $primary-color;
    }
  }

  &__container {
    height: 340px;
    padding-top: 45px;
    padding-bottom: 40px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .desktop {
    display: none;
  }
}

// BOTTOM SLIDER
.carousel {
  position: relative;
  background-color: #000000;
  padding-bottom: 13px;

  .responsive {
    padding-top: 70px;

    .slick-list {
      padding: 0;
    }
    
    img {
      width: 205px;
      height: 150px;
    }

    .slick-dots {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 128px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      li {
        width: 12px;
        height: 12px;
        border: 2px solid $secondary-color;
        border-radius: 50%;

        &.slick-active {
          background-color: $secondary-color;
        }

        button {
          display: none;
        }
      }
    }
  }
}

// GOOGLE MAPS
.contact-map {
  height: 316px;
  width: 100%;
}


@media only screen and (min-width: 550px) {
  main.overlay {
    background-image: url("../img/bmb_desktop_kv1.jpg");
  }
}

@media only screen and (min-width: 700px) {
  .carousel {
    position: relative;

    .responsive {
      padding-top: 70px;

      .slick-list {
        padding: 0;
      }
      img {
        width: 615px;
        height: 455px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    height: 1000px;
    margin-top: 58px;
    color: #fff;

    &.overlay {
      height: 1020px;
    }

    .pattern {
      height: 1020px;
      .text-container {
        padding-top: 269px;
        margin-left: 285px;
        width: 630px;

        h1 {
          width: 630px;
          font-size: 58px;
          letter-spacing: -1.5px;
          line-height: 76.5px;
        }

        &__paragraph {
          width: 382px;
          height: 61px;
          margin-top: 45px;
          font-size: 24px;
        }

        .btn {
          width: 246px;
          height: 62px;
          border-radius: 29px;
          margin-top: 42px;

          span {
          font-size: 16px;
          font-weight: 700;
          }
        }

        .scroll-arrow.bounce {
          display: block;
          position: absolute;
          bottom: -65px;
          left: 940px;
          -moz-animation: bounce 2s infinite;
          -webkit-animation: bounce 2s infinite;
           animation: bounce 2s infinite;
           @include animation-bounce;
        }
      }
    }
  }

  .first-text-section {
    height: 800px;

    .text-container {
      height: 259px;
      width: 1000px;
      padding-top: 325px;
      padding-left: 130px;
      display: flex;
      justify-content: space-between;

      h2 {
        padding-top: 18px;
        width: 380px;
        height: 237px;
        font-size: 45px;
        margin: 0;
      }

      p {
        width: 300px;
        height: 259px;
        font-size: 25px;
      }
    }
  }

  .poster-section {
    height: 960px;
    display: flex;

    &-box {
      position: relative;
      height: 480px;
      transition: 1.5s;
      background-color: green;
      overflow: hidden;

      &-outside{
        display: flex;
        flex-wrap:wrap;
        width: 50vw;
      }

      &.one {
        height: 960px;
        @include green-bcg-50;
      }

      &.two {
        @include green-bcg-50;
        order: 1;
      }
      
      &.three {
        @include green-bcg-50;
        order: 3;
      }

      &.four.desktop-show {
        @include green-bcg-50;
        order: 2;
        display: block;
      }

      &.five.desktop-show {
        background-image: none;
        width: 50%;
        display: block;
        order:4;
      }

      h3,
      h4 {
        position: absolute;
        bottom:75px;
        left: 45px;
        padding: 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.8px;
      }

      h4 {
        bottom: 38px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.44px;
      }

      img {
        display: block;
        opacity: 0.75;
        overflow: hidden;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition-timing-function: ease-in;
        transition: 1.5s;
      }

      &:hover img{
        opacity: 1;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        -moz-transform: scale(1.25);
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
        transition-timing-function: ease-in;
        transition: 1.5s;

      }
    }
  }

  .second-text-section {
    position: relative;
    height: 1010px;
     
    .button {
  
      .top-btn {
        margin-top: 78px;
        width: 246px;
        height: 58px;
        border-radius: 29px;
        
         span {
           font-size: 14px;
        }
      }
    }
  
    .top-text {
      width: 233px;
      margin-top: 137px;
      margin-left: 341px;
      margin-bottom: 100px;
      font-size: 18px;
      letter-spacing: 1.2px;

      &::after {
        right: 270px;
        width: 28px;
      }
    }
    
    .slider-box {
      height: 435px;
      width: 950px;
      margin: 0 auto;
      background-image: url("../img/semicolon-desktop.png");
      background-position: 145px 0;
      background-size: 242px 189px;
      transition: .2s;

      &:hover {
        background-size: 249px 195px;
      }

      &:hover img {
        transform: scale(1.04)
      }

      img {
        position: absolute;
        margin: 0;
        bottom: 3px;
        left: 5px;
        transition: .2s;
      }

      .slider-box__name {
        left: 333px;
        top: 138px;
        font-size: 30px;
        font-weight: 700;
      }

      .slider-box__members {
        left: 340px;
        top: 187px;
        font-size: 18px;
        font-weight: 700;
      }

      .slider-box__p1 {
        left: 331px;
        top: 275px;
        font-size: 24px;
        font-weight: 400;
        line-height: 40.32px;
      }
    }
  }

  .logos-section {

    .top-text1 {
      padding-left: 340px;
      width: 550px;
      font-size: 18px;
      letter-spacing: 1.8px;


      &::after {
        right: 247px;
      }                  
    }
    
    &__container {
      display: none;
    }

    &__desktop.desktop {
      display: block;
      width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        height: auto;
        padding: 20px;
      }
    }
  }
  
  .carousel {
    padding-bottom: 31px;
  }

  .contact-map {
    height: 435px;
    width: 100%;
  }
}

@media only screen and (min-width: 1424px) {
  .first-text-section {
    height: 940px;
    padding-left: 170px;

    .text-container {
      width: 1330px;
  
      h2 {
        width: 400px;
        font-size: 72px;
        line-height: 83.5px;
      }
      p {
        width: 675px;
        margin-right: 0;
        padding-left: 130px;
        font-size: 33px;
        line-height: 47px;
      }
    }
  }

  .logos-section {
    height: 900px;

    .top-text1 {
      padding-top: 140px;
      
      &::after {
        bottom: 10px;
      }                  
    }
    
    &__container {
      display: none;
    }

    &__desktop.desktop {
      width: inherit;
      padding-top: 165px;
      margin: 0 335px 0 255px; 
      
    }
  }
}

@media only screen and (min-width: 1600px) {
  .second-text-section {

    .dots {
      display: none;
    }

    .arrow-desktop-left {
      position: absolute;
      display: block;
      top: 715px;
      left: 148px;

      &:hover svg {
       @include outline
      }
    }

    .arrow-desktop-right {
      position: absolute;
      display: block;
      top: 715px;
      right: 267px;

      &:hover svg {
       @include outline
      }
    }
  }
}
